<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="comp5900.wassonreza">
      </category>
      <view
            name="Comp5900Project View"
            icon="icons/sample.gif"
            category="comp5900.wassonreza"
            class="ca.ubc.ece.eec511b.project.views.ProjectView"
            id="comp5900.wassonreza.views.Comp5900ProjectView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="comp5900.wassonreza.views.Comp5900ProjectView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
